<h1>Incidente #{{ incident.id }} - {{ incident.incident_text }}</h1> <!-- Muestra el ID junto al título -->
<p>{{ incident.description|safe }}</p>
<p>Fecha de inicio: {{ incident.start_date|date:"d/m/Y H:i" }}</p>
<p>Fecha de vencimiento: {{ incident.due_date|date:"d/m/Y H:i" }}</p>
<p>Publicado en: {{ incident.pub_date }}</p>
<p>Prioridad: {{ incident.prioridad }}</p>
<p>Categoría: {{ incident.category }}</p>

<h2>Attachments</h2>
<ul>
    {% for attachment in incident.attachments.all %}
        <li>
            <a href="{{ attachment.file.url }}">{{ attachment.file.name|basename }}</a>
            <!-- Delete attachment form -->
            <form action="{% url 'incidents:delete_attachment' attachment.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este adjunto?');">Eliminar</button>
            </form>
        </li>
    {% empty %}
        <li>No hay adjuntos.</li>
    {% endfor %}
</ul>

<!-- Enlace para editar el incidente -->
<a href="{% url 'incidents:edit_incident' incident.id %}">Editar incidente</a>

<!-- Enlace para volver a la lista de incidentes -->
<a href="{% url 'incidents:index' organizacion_id=organizacion_id %}">Regresar a la lista de incidentes</a>
