<h1>Incidente #{{ incident.id }} - {{ incident.incident_text }}</h1> <!-- Muestra el ID junto al título -->
<p>{{ incident.description|safe }}</p>
<p>Fecha de inicio: {{ incident.start_date|date:"d/m/Y H:i" }}</p>
<p>Fecha de vencimiento: {{ incident.due_date|date:"d/m/Y H:i" }}</p>
<p>Publicado en: {{ incident.pub_date }}</p>
<p>Prioridad: {{ incident.prioridad }}</p>
<p>Categoría: {{ incident.category }}</p>

{% if incident.attachment %}
    <p>Archivo adjunto: <a href="{{ incident.attachment.url }}" download>Descargar archivo</a></p>
{% endif %}

<!-- Enlace para editar el incidente -->
<a href="{% url 'incidents:edit_incident' incident.id %}">Editar incidente</a>

<!-- Enlace para volver a la lista de incidentes -->
<a href="{% url 'incidents:index' organizacion_id=organizacion_id %}">Regresar a la lista de incidentes</a>
