# Archivos de bases de datos
*.sqlite3

# Archivos de migraciones compilados
**/incidents/migrations/*.pyc
**/incidents/migrations/__pycache__/
**/cuentas/migrations/*.pyc
**/cuentas/migrations/__pycache__/

# Archivos del cache de Python
*.pyc
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Configuración específica del entorno
*.env
*.local
.DS_Store

# Archivos de medios (imágenes subidas, etc.)
**/perfil/

# Archivos estáticos generados automáticamente
/staticfiles/
/static/

# Archivos de logs
*.log

# Dependencias instaladas localmente
venv/
env/
.idea/
.vscode/
*.swp


# Archivos de configuración del sistema operativo o del editor de texto
*.bak
Thumbs.db

# Attachments
/media/