body {
    background: linear-gradient(to bottom, #499c8a, #1c3166);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Asegura que el body ocupe toda la altura de la pantalla */
    overflow-x: hidden; /* Evita el scroll horizontal */
    text-align: center;
}

/* Fondo de login */
.login-bg {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh;  /* Ocupa toda la altura de la pantalla */
}

/* Formulario de login */
.form-container {
    background-color: #240047; /* Morado oscuro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d; /* Sombra para profundidad */
    width: 100%;
    max-width: 400px; /* Ancho fijo */
    max-height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.form-title {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input {
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: rgba(28, 49, 102, 0.8); /* Azul oscuro semi-transparente */
    color: #FFFFFF; /* Texto blanco */
}

input::placeholder {
    color: #B0C4DE; /* Placeholder gris claro */
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #555555;
    border-radius: 10px;
    background-color: #1C3166;
    color: #FFFFFF;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #40FFDC;
}

.error-msg {
    color: #FF6666;
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* Botones */
.btn-outline-light {
    color: #00a9d4;
    border-color: #00a9d4;
}

.btn-outline-light:hover {
    background-color: #00a9d4;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #1c3166;
    border-color: #1c3166;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #00a9d4;
    border-color: #FFFFFF;
}

/* Login específico */
.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-container {
    background-color: #240047; /* Morado oscuro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d; /* Sombra para profundidad */
    width: 100%;
    max-width: 400px; /* Ancho fijo */
    max-height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.form-title {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input {
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: rgba(28, 49, 102, 0.8); /* Azul oscuro semi-transparente */
    color: #FFFFFF; /* Texto blanco */
}

input::placeholder {
    color: #B0C4DE; /* Placeholder gris claro */
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #555555;
    border-radius: 10px;
    background-color: #1C3166;
    color: #FFFFFF;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #40FFDC;
}

.error-msg {
    color: #FF6666;
    font-size: 0.9rem;
    margin-top: 1rem;
}

header.bg-primary {
    top: -18px;
    margin-top: -80px;
    background-color: #1c3166 !important; 
    border-radius: 10px;
}
.table, .incident-table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .incident-table th, .incident-table td {
    padding: 12px 20px;
    text-align: left;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    color: #1c3166;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
}

.pagination a:hover {
    background-color: #499c8a;
}

.filter-form input, .filter-form select {
    padding: 10px;
    margin-right: 10px;
}

.update-estado {
    padding: 5px;
}