{% extends 'organizations_base.html' %}
{% block title %}Mis Organizaciones{% endblock %}
    
{% block content %}
    <div class="form-container">
        <form class="form-content" method="post">
            {% csrf_token %}
            <h1 class="form-title">Crear Organización</h1>
            <label for="nombre">Nombre de la organización:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
            <button class="btn btn-outline-light btn-sm" type="submit">Crear Organización</button>
        </form>
        {% if messages %}
                <!-- Bloque para mostrar mensajes -->
            <ul style="text-align: center;">
                {% for message in messages %}
                <p class="error-msg">
                    {{ message }}
                </p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
