{% extends 'organizations_base.html' %}
{% block title %}Mis Organizaciones{% endblock %}
    
{% block content %}
    <div class="container mt-4">
        <div class="row">
            
            {% for miembro in organizaciones %}
            <div class="col-12 mb-3">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h5 class="card-title">{{ miembro.organizacion.nombre }}</h5>
                        <p class="card-text">Explora y gestiona los incidentes relacionados con esta organización.</p>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'incidents:incident_table' miembro.organizacion.slug %}" class="btn btn-primary btn-sm me-2">Ver Incidentes</a>
                            <a href="{% url 'organizations:organization_detail' miembro.organizacion.slug %}" class="btn btn-outline-light btn-sm">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-light">No tienes organizaciones registradas.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
