<h1>{{ organizacion.nombre }}</h1>
<p>Correo: {{ organizacion.correo }}</p>
<p>Código de acceso: {{ organizacion.codigo_acceso }}</p>


<h2>Miembros</h2>
<table border="1">
    <thead>
        <tr>
            <th style="text-align: center;">Foto</th>
            <th style="text-align: center;">Usuario</th>
            <th style="text-align: center;">Rol</th>
            <th style="text-align: center;">Correo</th>
        </tr>
    </thead>
    <tbody>
        {% for miembro in miembros %}
        <tr>
            <td style="text-align: center;">{% if miembro.usuario.foto_perfil %} 
                <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" target="_blank" width="50px" height="50px">
                {% else %} <img src="/media/default_pfp.jpg" alt="Foto de perfil por defecto" target="_blank" width="50px" height="50px"> 
                {% endif %}
            </td>
            <td style="text-align: center;">{{ miembro.usuario.nombre }} {{ miembro.usuario.apellido }}</td>
            <td style="text-align: center;">{{ miembro.rol }}</td>
            <td style="text-align: center;">{{ miembro.usuario.correo }}</td>
            {% if is_admin and miembro.rol != 'ADMINISTRADOR' %}
            <td style="text-align: center;"><form action="{% url 'delete_user' organizacion.slug miembro.usuario.id %}" method="post" style="display: inline">
                {% csrf_token %}
                    <button type="submit" onclick="return confirm('Quieres eliminar a este usuario de la organización?');">
                        Eliminar
                    </button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
