{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Perfil de usuario</h1>
        <nav>
            <ul>
                <li><a href="{% url 'accounts:sign_up' %}">Registro</a></li>
                <li><a href="{% url 'accounts:sign_in' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'accounts:profile' slug=slug %}">Perfil</a></li>
                <li><a href="{% url 'my_organizations' %}">Mis Organizaciones</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
