{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Fondo principal -->
        <div class="form-container">
            <h1 class="form-title">Iniciar Sesión</h1>
            <form method="post" class="form-content">
                {% csrf_token %}
                
                <input class="form-input" type="email" name="correo" placeholder="Correo" required>
                <input class="form-input" type="password" name="password" placeholder="Contraseña" required>
                <div class="button-group">
                    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href = '{% url 'accounts:sign_up' %}'">Registrarse</button>
                </div>
            </form>
            {% if error %}
                <p class="error-msg">{{ error }}</p>
            {% endif %}
        </div>
</body>
</html>
