{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            <input class="form-input" type="email" name="correo" placeholder="Correo" required>
            <input class="form-input" type="password" name="password" placeholder="Contraseña" required>
            <button class="btn-primary" type="submit">Iniciar Sesión</button>
            <button class="btn-secondary" type="button" onclick="location.href = '{% url 'accounts:sign_up' %}'">Registrarse</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
