{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="module" src="{% static 'js/main.js' %}"></script>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <!-- Fondo principal -->
    <div class="login-bg">
        <div class="form-container">
            <h1 class="form-title">Iniciar Sesión</h1>
            <form method="post" class="form-content">
                {% csrf_token %}
                <input class="form-input" type="email" name="correo" placeholder="Correo" required>
                <input class="form-input" type="password" name="password" placeholder="Contraseña" required>
                <div class="button-group">
                    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href = '{% url 'accounts:sign_up' %}'">Registrarse</button>
                </div>
            </form>
            {% if error %}
                <p class="error-msg">{{ error }}</p>
            {% endif %}
        </div>
        
    </div>
    
    <!-- Footer (con flex para quedar al fondo) -->
<global-footer></global-footer>
    
    
</body>
</html>
