{% block content %}
  
<h2>Perfil</h2>

  <!-- Mostrar la imagen del perfil arriba -->
  {% if usuario.foto_perfil %}
  <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" target="_blank">
  {% else %}
  <img src="/media/default_pfp.jpg" alt="Foto de perfil por defecto" target="_blank">
  {% endif %}
    
    <!-- Mostrar correo pero sin opción a modificar -->
    <p>
      <label for="id_correo">Correo:</label>
      {{ usuario.correo }}
    </p>

    <p>
      <label for="id_nombre">Nombre:</label>
      {{ usuario.nombre }}
    </p>

    <p>
      <label for="id_apellido">Apellido:</label>
      {{ usuario.apellido }}
    </p>

    <p>
      <a href="{% url 'my_organizations' %}">Mis Organizaciones</a>
    </p>

    <!-- Contenedor para los botones -->
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <a href="{% url 'edit_profile' %}" class="btn" style="padding: 10px; background-color: blue; color: white; text-decoration: none;">Editar perfil</a>
      <a href="{% url 'sign_out' %}" class="btn" style="padding: 10px; background-color: red; color: white; text-decoration: none;">Cerrar Sesión</a>
    </div>
  </form>
{% endblock %}